.padding-login{
    padding-top: 150px;
    padding-bottom: 50px;
}
.login-form{
    padding-top: 15px;
    padding-left: 15px;
}

.registration{
    margin-bottom: 20px;
}
.padding-registration{
    padding-top: 120px;
    padding-bottom: 70px;
}
.registration-form{
    padding-top: 15px;
    padding-left: 15px;
}